.itree-droppable-active {
    &.itree-droppable-target {
        border: 1px solid #2dadc5;
    }

    &.itree-droppable-target-above {
        border-top: 3px solid #2dadc5;
    }

    &.itree-droppable-target-below {
        border-bottom: 3px solid #2dadc5;
    }
}
