.inspire-tree {
    > ol {
        position: relative;
    }

    .wholerow {
        height: $tree-node-height;
        left: 0;
        // We can't use translation because IE11 doesn't render parent overflow correctly
        margin-top: -$tree-node-height;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .focused > .wholerow {
        border: 1px dotted $tree-row-focused-color;
    }

    .wholerow:hover,
    .title-wrap:hover + .wholerow {
        background-color: $tree-row-hover-color;
    }

    .selected > .wholerow,
    .selected > .wholerow:hover,
    .selected > .title-wrap:hover + .wholerow {
        background-color: $tree-row-selected-color;
    }

    .matched > .wholerow,
    .matched > .wholerow:hover,
    .matched > .title-wrap:hover + .wholerow {
        background-color: $tree-row-matched-color;
    }
}
