sudo: required
dist: trusty
language: node_js
node_js:
  - "7"
  - "6"
before_install:
  - gem install scss-lint
  - npm install -g rollup yarn
  - yarn -V
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sudo apt-get update
  - sudo apt-get install -y libappindicator1 fonts-liberation
  - wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  - sudo dpkg -i google-chrome*.deb
install:
  - yarn install
before_script:
  - rollup -c
script:
  - npm test
  - npm run lint
